.wrapper-rows {
  display: flex;
  flex-flow: row;
}

.wrapper-columns {
  display: flex;
  flex-flow: column;
}

.margin-filler {
  max-width: 130px;
  min-width: 130px;
}

.sidebar {
  height: inherit;
  max-width: 130px;
  min-height: 100vh;
  min-width: 130px;
  position: fixed;
}

.sidebar .active {
  margin-left: -250px;
}

@media (max-width: 768px) {
  .sidebar {
      display: none;
  }
  .sidebar .active {
      margin-left: 0;
  }
  .margin-filler {
    display: none;
  }
}

b, b:hover, b:focus {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar {
  font-family: 'Montserrat', sans-serif;
  background: #FFF;
  color: #000;
  transition: all 0.3s;
}

.sidebar .sidebar-header {
  background: #FFF;
  color: #000;
  font-family: 'Bellefair', serif;
  font-size: 80px;
  font-weight: 400;
  padding: 10px;
}

.sidebar .components {
  padding: 5px 0;
}

.sidebar ul li b {
  display: block;
  font-size: 1.1em;
  padding: 10px;
}

.sidebar ul li b:hover {
  background: #EEE;
  color: #0AA;
}

.sidebar ul li a {
  display: block;
  padding: 40px;
}

.github
{
    background-image: url('../images/github.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 40px;
}

.linkedin
{
  background-image: url('../images/linkedin.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 40px;
}
