body {
  background-color: #a4c4f4;
}
.phone{
  max-height: 73%;
  max-width: 73%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* .colour-background {
    clip-path: inset(24% 27% 11% 27%);
} */
